@font-face {
    font-family: Discord1;
    src: url(../assets/fonts/Discord1.woff2);
}
@font-face {
    font-family: Discord2;
    src: url(../assets/fonts/Discord2.woff2);
}
@font-face {
    font-family: Discord3;
    src: url(../assets/fonts/Discord3.woff2);
}
@font-face {
    font-family: Discord4;
    src: url(../assets/fonts/Discord4.ttf);
}
@font-face {
    font-family: Discord5;
    src: url(../assets/fonts/Discord5.ttf);
}
@font-face {
    font-family: Discord6;
    src: url(../assets/fonts/Discord6.ttf);
}
@font-face {
    font-family: Discord7;
    src: url(../assets/fonts/Discord7.woff2);
}
@font-face {
    font-family: Discord8;
    src: url(../assets/fonts/Discord8.woff2);
}
@font-face {
    font-family: Discord9;
    src: url(../assets/fonts/Discord9.woff2);
}