@font-face {
    font-family: 'font1';
    src: url(../src/assets/fonts/fonts1.woff2);
}
@font-face {
    font-family: 'font2';
    src: url(../src/assets/fonts/fonts2.woff2);
}
@font-face {
    font-family: 'font3';
    src: url(../src/assets/fonts/fonts3.woff2);
}
@font-face {
    font-family: 'font4';
    src: url(../src/assets/fonts/fonts4.woff2);
}@font-face {
    font-family: 'font5';
    src: url(../src/assets/fonts/fonts5.ttf);
}
@font-face {
    font-family: 'font6';
    src: url(../src/assets/fonts/fonts6.ttf);
}
@font-face {
    font-family: 'font7';
    src: url(../src/assets/fonts/fonts7.ttf);
}
@font-face {
    font-family: 'font8';
    src: url(../src/assets/fonts/fonts8.woff2);
}