*{
    margin: 0;
    box-sizing: border-box;
}

.mae {
   background-color:aqua ;
   height: 300px;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
}

.box div {
    background-color:darkorchid;
    height: 150px;
    width: 150px;
    display: inline-block;
    margin: 25;

}