*{
    margin: 0;
    box-sizing: border-box;
}

.mae {
   background-color:aqua ;
   height: 200px;
}

.box div {
    background-color:darkorchid;
    height: 150px;
    width: 150px;
    display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 25;

}